<div class="container marketing" style="margin-top: 20px">

  <div class="row">
    <div class="col-lg-4 text-center" *ngFor="let practician of practicians">
      <img src="assets/{{practician.img}}" class="bubble" height="140" width="140" />
      <h2>{{ practician.name }}</h2>
      <p></p>
      <p>
        <button class="btn btn-outline-dark m-2" (click)="getDetails(content, practician)">More Detail</button>
        <button class="btn btn-outline-dark m-2" (click)="open(video)">video</button>
      </p>
    </div>
  </div>

</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{practician.name}} Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h3>Who</h3>
    <p>{{practician.who}}</p>
    <h3>When</h3>
    <p>{{practician.when}}</p>
    <h3>Where</h3>
    <p>{{practician.where}}</p>
    <h3>How</h3>
    <p>{{practician.how}}</p>
    <h3>What</h3>
    <p>{{practician.what}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>






<ng-template #video let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <iframe height="500" width="700" src="https://www.youtube.com/embed/tgbNymZ7vqY">
    </iframe>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>